.icon-settings:before {
	content: '\e932';
}

.icon-member:before {
	content: '\e946';
}

.icon-label:before {
	content: '\e93f';
}

.icon-checklist:before {
	content: '\e91a';
}

.icon-clock:before {
	content: '\e91b';
}

.icon-attachment:before {
	content: '\e908';
}

.icon-cover:before {
	content: '\e914';
}

.icon-location:before {
	content: '\e944';
}

.icon-move::before {
	content: '\e94a';
}

.icon-copy::before {
	content: '\e91f';
}

.icon-watch::before {
	content: '\e969';
}

.icon-share::before {
	content: '\e963';
}

.icon-restore:before {
	content: '\e95b';
}

.icon-remove:before {
	content: '\e95c';
}

.icon-archive:before {
	content: '\e907';
}

.icon-close:before {
	content: '\e91c';
}

.icon-subscribe:before {
	content: '\e969';
}

.icon-description:before {
	content: '\e922';
}

.icon-activity:before {
	content: '\e900';
}

.icon-comment:before {
	content: '\e91e';
}
