
// COLOR PALETTE
$label-green: #61bd4f;
$label-green-shadow: #519839;
$label-yellow: #f2d600;
$label-yellow-shadow: #d9b51c;;
$label-orange: #ff9f1a;
$label-orange-shadow: #cd8313;
$label-red: #eb5a46;
$label-red-shadow: #b04632;
$label-purple: #c377e0;
$label-purple-shadow: #89609e;;
$label-blue: #0079bf;
$label-blue-shadow: #055a8c;
$label-navy: #344563;
$label-navy-shadow: #091e42;
$label-gray: #b3bac5;
$label-gray-shadow: #b3bac5;
