@font-face {
    font-family: trellicons;
    src: url('~@/assets/fonts/icomoon.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: source-sans;
    src: url('~@/assets/fonts/source-sans/SourceSansPro-SemiBold.ttf') format('truetype');
    font-style: normal;
}